*{
    font-family: 'Quicksand', sans-serif;
}
#header{
  background-image: url(../imgs/backgrounds/landing.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /*display: flex;
  justify-content: center;*/
  text-align:center;
  height: 500px;
  width: 100%;
}
