*{
    font-family: 'Quicksand', sans-serif;
}
#header{
  background-image: url(../imgs/backgrounds/landing.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /*display: flex;
  justify-content: center;*/
  text-align:center;
  height: 500px;
  width: 100%;
}
#fix{
  font-size: 30px;
  font-family:sans-serif;
  text-align: center;
  margin: 0;
  display: block;
  color: #fff
}
#happy{
  padding: 20px;
  background-color: #9a9292;
  text-align: center;
  width: 279px;
}

#party{
  padding: 20px;
  background-color:#F15A29;
  color: #FFFFFF;
  text-align: center;
  width: 279px;
 }

 #breakfast{
   background-image: url(../imgs/foodtop/breakfast.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   padding-bottom: 205.5px;
 }

 #lunch{
   background-image: url(../imgs/foodtop/lunch.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   padding-bottom: 205.5px;
 }

 #dinner{
   background-image: url(../imgs/foodtop/dinner2.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   padding-bottom: 205.5px;
   width: 277px;
 }

/*HOVER EFFECTS*/
#breakfast:hover .overlay{
  opacity: 3;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #E5E5E5;
  color: #FFFFFF;
  text-transform: capitalize;
  font-size: 30px;
}

.text {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
/*LUNCH*/

#lunch:hover .overlay{
  opacity: 3;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #E5E5E5;
  color: #FFFFFF;
  text-transform: capitalize;
  font-size: 30px;
}

.text {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/*dinner*/
#dinner:hover .overlay{
  opacity: 3;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #E5E5E5;
  color: #FFFFFF;
  text-transform: capitalize;
  font-size: 30px;
}

.text {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#view{
  color: #F15A29;
}

#fastfood{
  padding-left: 90px;
  padding-right: 90px;
}

#deliciousfood{
  text-align: justify;
}

#drinks{
  text-align: right;
}

#view-gallery{
  text-align: right;
}
#drink1{
  width: 345px;
  height: 390px;
}
#foodmenu{
  background-image: url(../imgs/backgrounds/foodsBg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 30px;
padding-top: 40px;bo
}
#fast{color:#F15A29;

}
